@{
    ViewBag.Title = "Error";
    Layout = "_Layout";
}
<div class="text-center mt-5">
    <h1 class="display-4 text-warning">Oops!</h1>
    <p class="lead">An error occurred. We’re working to fix it.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Back to Home</a>
</div>